:root {
	/* roundedness / border-radius */
	--roundedness-base: 0.5rem;
	--roundedness-lg: var(--roundedness-base);
	--roundedness-sm: var(--roundedness-base);

	/* button */
	--btn-roundedness: var(--roundedness-base);
	--btn-has-shadow: 1;
	--btn-has-highlight: 1;

	/* input */
	--input-roundedness: var(--roundedness-base);
}
